/* Body */
body{
  background: linear-gradient(135deg, #0077B6, #48CAE4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}
main{
  padding: 20px;
}
/* NavBar */
.navbar{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #03055ed4;
}
.logo a{
  display: block;
  font-size: 1em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: seashell;
  text-decoration: none;
}
.navbar li{
  display: inline;
}
.navbar li a{
  padding-right: 25px;
  font-size: 20px;
  color: seashell;
}
/*  Titles */
.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background: linear-gradient(45deg, #023E8A, #0096C7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  color: seashell;
}
/* Home Page */
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about img {
  border: 2px solid black;
  border-radius: 10%;
  max-width: 250px;
  flex-basis: 50px;
  flex-grow: 1;
  margin: 20px;
}
.about p{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-overflow: wrap;
  height: 100px;
  flex-basis: 50px;
  flex-grow: 1;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 1.5;
  overflow: hidden;
}
/* Contact */
form{
  align-items: center;
}
form div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
div section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  border-radius: 50px;
  border: 2px solid black;
  width: 400px;
  margin: 10px;
  padding: 10px;
}
#submit{
  width: 200px;
}
label{
  margin: 10px;
  padding: 10px;
}
/* Protfolio */
.page-title a{
  color: seashell;
}
.project{
  display: flex;
  padding: 10px;
}
.project img{
  border: 2px solid black;
  border-radius: 5%;
  max-height: 500px;
  flex-basis: 50px;
  flex-grow: 1;
  margin: 20px;
}
.project-details{
  padding: 10px;
}
.project-details a{
  display: block;
  font-size: 1em;
  color: seashell;
}
/* Resume */
.resume{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
.resume section{
  margin: 10px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
}
.resume li{
  margin: 20px;
}
/* Footer */
footer{
  display: flex;
  font-size: 1em;
  justify-content: center;
}

/* Blog */
.post{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background: linear-gradient(115deg, #023E8A, #0096C7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  color: seashell;
}
.top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.top h2{
  margin: 10px;
  margin-left: 20px;
  font-size: 1.75em;
}
.top h3{
  margin: 10px;
}
.post a{
  margin: 5px;
}
.post p{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}